{% extends 'base.html' %}
{% load bootstrap4 %}
{% load comment_tags %}
{% url 'scand:image-create-view' as create_url %}

{% block content %}

    <div class="row mt-1">
        <div class="col-md-4 mt-2">
            <h4>Comments</h4>
            <hr class="mt-1 mb-3"/>
            <div class="comment-box">
                {% if object %}
                    {% get_comments object request %}
                {% endif %}
            </div>
            {#        {% comment_form object request.user %}#}
            <div class="row mt-4">
                <form id="img-form" class="form col-12" action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    <div class="row mb-1">
                        {% if perms.scand.add_imagetag or perms.scand.change_imagetag %}
                            <div class="col-md-6">
                                <input class="mt-1 btn btn-primary btn-block" type="submit" value="Save">
                            </div>
                            {% url 'scand:image-update' object.id as update_url %}
                            {% if perms.scand.add_imagetag and perms.scand.change_imagetag %}
                                <div class="col-md-6">
                                    <a class="mt-1 btn btn-danger btn-block" href="{% url 'dashboard' %}">Cancel</a>
                                </div>
                            {% endif %}
                            {% if not perms.scand.add_imagetag and perms.scand.change_imagetag %}
                                <div class="col-md-6">
                                    <input id="image_id" type="hidden" name="id" value="{{ imagetag.pk }}">
                                    <input id="revert" class="mt-1 btn btn-secondary btn-block" type="submit"
                                           name="revert"
                                           value="Revert">
                                </div>
                                <div class="position-absolute" style="right: 0; top: 0">
                                    <a href="{% url 'dashboard' %}"
                                       class="mt-1 badge badge-warning rounded-circle "
                                       data-toggle="tooltip" data-placement="top" title="Cancel">X</a>
                                </div>
                            {% endif %}

                        {% endif %}

                    </div>

                    <div class="custom-file mb-1">
                        <input
                                {% if  perms.scand.add_imagetag and perms.scand.change_imagetag %}
                                    type="file"
                                {% else %}
                                    type="hidden"
                                {% endif %}
                                    class="custom-file-input" name="img-image" id="id_img-image">
                        {% if  perms.scand.add_imagetag and perms.scand.change_imagetag %}
                            <label class="custom-file-label" for="id_img-image">Choose file &#10059;</label>
                        {% endif %}
                    </div>
                    <span class="small text-danger">{{ form.image.errors }}</span>
                    <!-- form altered -->
                    {#                    {% bootstrap_form_errors form %}#}
                    {#                    {% for field in form %}#}
                    {#                        {% if not field.name == 'image' and 'Extra' not in field.label %}#}
                    {#                        <div class="row">#}
                    {#                            <div class="col-md-5">{% bootstrap_label %}</div>#}
                    {#                            <div class="col-md-6">#}
                    {#                                {% bootstrap_field field size='small' show_label=False show_help=False form_group_class='mb-1' %}#}
                    {#                            </div>#}
                    {#                            <div class="col-md-1">#}
                    {#                                <input type="checkbox" name="id" id="c-{{ field.name }}">#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        {% endif %}#}
                    {##}
                    {##}
                    {#                    {% endfor %}#}
                    <!-- form altered -->
                    {% for field in form %}
                        {% if not 'Extra' in field.label and not field.name == 'image' %}


                            {% bootstrap_field field layout='horizontal' size='small' form_group_class='mb-0' horizontal_label_class='col-md-5 small mb-0' horizontal_field_class='col-md-7' show_help=False required_css_class='isRequired' %}
                            {% if field.errors %}<span class="small text-danger">{{ field.errors }}</span>{% endif %}
                        {% endif %}
                    {% endfor %}
                    {#                    {% bootstrap_form_errors form %}#}
                    {#                    {% bootstrap_form form exclude='company,accoff,section,docref,image,attr1,attr2,attr3,attr4,attr5' layout='horizontal' size='small' form_group_class='mb-0' horizontal_label_class='col-md-5' horizontal_field_class='col-md-7' %}#}
                    {#                    {% include 'scand/partials/form.html' with form=form %}#}
                    <div class="row mb-0 mt-1">
                        {{ form.attr1.errors }}
                        <div class="col-md-6">{% bootstrap_field form.attr1 show_label=False size='small' form_group_class='mb-1' %}</div>
                        {{ form.attr2.errors }}
                        <div class="col-md-6">{% bootstrap_field form.attr2 show_label=False size='small' form_group_class='mb-1' %}</div>
                        {{ form.attr3.errors }}
                        <div class="col-md-4">{% bootstrap_field form.attr3 show_label=False size='small' form_group_class='mb-1' %}</div>
                        {{ form.attr4.errors }}
                        <div class="col-md-4">{% bootstrap_field form.attr4 show_label=False size='small' form_group_class='mb-1' %}</div>
                        {{ form.attr5.errors }}
                        <div class="col-md-4">{% bootstrap_field form.attr5 show_label=False size='small' form_group_class='mb-1' %}</div>
                    </div>
                </form>
            </div>

        </div>
        {% if request.path == create_url %}
            <div class="col-md-1">
                <div class="row" style="padding-top: 1.3rem">
                    <div class="col-md-2">
                        <br><br><br>
                        {% for field in form %}
                            {% if not field.name == 'image' and 'Extra' not in field.label %}
                                <input type="checkbox" value="img-{{ field.name }}" class="keep">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="{% if request.path == create_url %}col-md-7{% else %}col-md-8{% endif %}">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}

            <div id="image_preview">
            <span id="imgspan">
                {% if 'update' in request.path %}
                    <img class="img-fluid" src="{{ object.image.url }}" alt="">
                {% endif %}
            </span>
            </div>
        </div>


    </div>
{% endblock content %}

{% block script %}
    {% include_static %}

    <!-- CSRF for Ajax -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <script>
       $("#revert").click(function (e) {
            e.preventDefault();
            let $data = $("#image_id").serialize();
            // let $targetURL = $("#targetURL").val();
            console.log($data);
            $.ajax({
                method: "POST",
                url: window.location.href,
                data: $data,
                success: function (data) {
                    //console.log(data);
                    window.location.href = "http://127.0.0.1:8000/dashboard/";
                },
                error: function (error) {
                    console.log(error)
                },
            })
        })

    </script>
    <script>
        $(document).ready(function () {
            $.each($('.keep'), function (i, val) {

                if (window.sessionStorage[val.value]) {
                    console.log($('#id_' + val.value));
                    $('#id_' + val.value)[0].value = window.sessionStorage[val.value];
                    $(this).attr('checked', 'checked');
                    $('#id_' + val.value).attr('readonly', true)
                }
            })
            // console.log(window.sessionStorage['img-company'])
        });

        /* preserving values in session storage */
        $('#img-form').submit(function () {
            //e.preventDefault();
            window.sessionStorage.clear();
            $.each($('.keep'), function (i, val) {
                //console.log(val);
                if ($(this).is(':checked')) {
                    window.sessionStorage[val.value] = $('#id_' + val.value)[0].value;
                }

            });

            e.currentTarget.submit();

        });

        // Disabling inputs
        let $allCheckboxes = $('.keep');
        $allCheckboxes.change(function () {
            if ($(this).is(':checked')) {
                $('#id_' + $(this).val()).attr('readonly', true)
            } else {
                $('#id_' + $(this).val()).attr('readonly', false)
            }
        })

    </script>
    <script>
        function handleFileSelect(evt) {
            $("#imgspan").innerHTML = [''];

            var files = evt.target.files; // FileList object

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var span = document.getElementById('imgspan');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    //document.getElementById('image_preview').insertBefore(span, null);
                };
            })(files[0]);

            // Read in the image file as a data URL.
            reader.readAsDataURL(files[0]);
        }

        document.getElementById('id_img-image').addEventListener('change', handleFileSelect, false);
    </script>
{% endblock script %}